.progressContainer {
  height: 4px;
  margin-bottom: 4px;
}

.hidden {
  visibility: hidden;
}

.ComponentsBox {
  width: 300px;
  background-color: whitesmoke;
}

.SearchInput {
  width: 100%;
}

.SearchButton {
  width: 100%;
}

.SearchInfo {
  display: flex;
  justify-content: center;
}

.SearchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SelectedItem {
  background-color: #3277bcb4;
}

.Item {
  transition: background-color 0.3s, color 0.3s;
}

.Item:hover {
  background-color: #e0e0e0;
}
