.container {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 1em;
    padding: 5px;
    border-radius: 4px;
    background-color: whitesmoke;
  }

  .customSelect .MuiInputBase-root::before,
  .customSelect .MuiInputBase-root::after {
    border: none;
  }